body {
  background: black;
  color: #d3d3d3;
  font-size: 20px;
  font-family: Verdana;
  overflow: hidden;
}

#tooltip {
  font-family: sans-serif;
  position: absolute;
  z-index: 3000;
  border: 1px solid #777;
  background-color: #222;
  font-size: 14px;
  padding: 5px;
  opacity: 0.85;
  user-select: none;
}
#tooltip h3, #tooltip div { margin: 0; }

#mapTooltipWindow {
  padding: 5px !important;
  border: 1px solid !important;
  opacity: 0.9 !important;
}

#musicplayer
{
  bottom: 5px;
  margin-top: 10px;
  height: 75px;
  padding:0 5 0 5;
}

a {
  color: #d3d3d3;
}

fieldset {
  border:solid #999 1px;
}

legend {
  color: white;
  padding: 0 3 0 3;
}

.button {
  border: outset 1px #777;
  cursor: pointer;
  background: #222;
  font-weight: bold;
  font-size: 12px;
  padding: 2;
}

.button2 {
  border: outset 1px #777;
  cursor: pointer;
  background: #222;
  font-weight: bold;
  font-size: 6px;
  padding: 2;
}

.uiButton {
  user-select: none;
  background: #111;
  border: 1px outset #777;
  cursor: pointer;
  text-align: center;
}

.secttasks {
  background-color: #222;
  color: white;
}

#map {
  border: double #777 4px;
  width: 780px;
  height: 580px;
  position: absolute;
  left: 240px;
  top: 35px;
  overflow: hidden;
}

#mapBorder {
  position: absolute;
  top: 32px;
  left: 237px;
  right: 4px;
  bottom: 3px;
}

#topPanel {
  width: 788px;
  height: 26px;
  left: 240px;
  top: 5px;
  background: #090909;
  position: absolute;
}

#logPanel {
  width: 20px;
  height: 100px;
  left: 217px;
  top: 5px;
  background: #090909;
  position: absolute;
}

#status {
  border: double #777 4px;
  width: 191px;
  height: 300px;
  left: 5px;
  top: 5px;
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
  user-select: none;
}

#status\.cult {
  padding: 0 5 5 5;
  background: #111;
  height: 17;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.statusUpgrade {
  cursor: pointer;
  width: 12;
  height: 12;  
  background: #222;
  border: 1px solid #777;  
  color: lightgreen;  
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.statusTable {
  font-size: 14px;
  width: 100%;
}

.statusResourceTable {
  font-size: 11px;
}

.powerText {
  font-weight: 1000;
  vertical-align: middle;
}

#status\.track {
  text-align: center;
  background: #222;
  font-size: 10px;
  color: #00ff00;
  user-select: text;
}

